<div class="pure-g-r">
  
  <div class="pure-u-1">
    <div class="banner">
      <h1 class="banner-head">Blocipedia: Social, Markdown Wikis</h1>
        <div class="banner-buddy"><p>Create and share Markdown Wikis</p>
        <%= link_to "Sign Up", new_user_registration_path, class: 'pure-button pure-button-primary'  %>
      </div>
    </div>
  </div>

  <div class="l-content">
    <div class="pricing-tables pure-g-r">
      <div class="pure-u-1-2">
            <div class="l-box">
              <h2>Create as many public wikis as you want!</h2>
              <%= link_to "Free Plan", new_user_registration_path, class: 'pure-button' %>
            </div>
          </div>

          <div class="pure-u-1-2">
              <div class="l-box">
                <h2>Create private wikis!</h2>
                <%= link_to "Premium Plan", new_charge_path, class: 'pure-button' %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
