<div class="REPLACE-ME-WITH-SOMETHING-FROM-SKELETON">
<h1>Blocipedia: Social, Markdown Wikis</h1>
<p>Create and share Markdown Wikis</p>
  <%= link_to "Sign Up", "XXX-REPLACE-WITH-CORRECT-LINK-PATH", class: 'XXXX-REPLACE-WITH-SOMETHING-FROM-SKELETON' %>
</div>

<div class="row">
  <div class="XXX-REPLACE-ME-WITH-SOMETHING-FROM-SKELETON">
    <h2>Create as many public wikis as you want!</h2>
    <%= link_to "Free Plan", "XXX-REPLACE-WITH-CORRECT-LINK-PATH", class: 'XXXX-REPLACE-WITH-SOMETHING-FROM-SKELETON' %>
  </div>

  <div class="XXX-REPLACE-ME-WITH-SOMETHING-FROM-SKELETON">
    <h2>Create private wikis!</h2>
    <%= link_to "Premium Plan", new_charge_path, class: 'XXXX-REPLACE-WITH-SOMETHING-FROM-SKELETON' %>
  </div>
</div>
