<div class="pure-u-1-1 subscription">

<h1>Congratulations!</h1>
<p>Your subscription is <span style="font-style:italic;">active</span>!</p>
<h3>Tips to get started:</h3>
<ul>
  <li>Wikis are public by default, but you now have a checkbox to unmark that!</li>
  <li>Markdown is a light and breezy language, here's some links to quickstart your markdown: </li>
  <ul>
    <li><%= link_to "Daring Fireball's Markdown Syntax", "http://daringfireball.net/projects/markdown/syntax" %></li>
    <li><%= link_to "Markdown Cheatsheet by Adam P", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %></li>
  </ul>
  <li>Selectively add collaborators to your private wikis!</li>
</ul>
<p>You're on your way to an exclusive place in the wiki world - yours! If you need any assistance, consult the forums or contact our support at support@blocipida.com</p>
