/* purecss has problems with fonts for .pure-g and .pure-g-r */
/* https://github.com/yui/pure/issues/41/ */
.pure-g, .pure-g-r {
    letter-spacing: 0em;
}



/* -- Top Nav Bar styling -- */
/* from the interwebs:
http://csscreator.com/node/4636
*/
#navcontainer {
/*    font-size: 0.8em;*/    
    width: 100%;
    background: #F4FBF5;
}

#navcontainer a:link {text-decoration:none;}
#navcontainer a {color:#717171;}      /* unvisited link */
#navcontainer a:visited {color:#717171;}  /* visited link */
#navcontainer a:hover {color:#0D777D;}  /* mouse over link */
#navcontainer a:active {color:#000000;}  /* selected link */


span.left {
    float: left;
    display: inline-block;
    /*width: 25%;*/
    /*padding-left: 10px;*/
    margin: 10px 0 10px 10px;
}

span.right {
    float: right;
    display: inline-block;
    /*width: 70%;*/
    /*text-align: right;*/
    margin: 10px 10px 10px 0;
}

#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    display: inline;
}




/* -- Welcome Page styling -- */
banner {
    margin-top: 150px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #0D777D;
    text-align: center;    
}

.banner-head {
    margin-top: 0;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.pricing-tables {
    text-align: center;
}

.l-content {
    margin: 0 auto;
}


/* For flash messages, adpated from: */ 
/*http://www.dzone.com/snippets/css-flashnotice-style*/

.alert {
    width: 100%;
    background: #FFF6BF;
    border-top: 2px solid #FFD324;
    border-bottom: 2px solid #FFD324;
    text-align: center;
    margin: 10px auto;
    padding: 5px 20px;
}

#error_explanation { /* for devise errors */
    width: 100%;
    background: #FFF6BF;
    border-top: 2px solid #FFD324;
    border-bottom: 2px solid #FFD324;
    text-align: center;
    padding: 0px 20px;   
}

#error_explanation ul {
    list-style-position: inside; /* this makes the bullet point stick to text */
}

/*http://stackoverflow.com/questions/18307376/ruby-on-rails-and-bootstrap-make-field-with-errors-display-horizontal*/
.field_with_errors {
    display: inline-block;
}

.field_with_errors #user_email { /* not sure why I can't target input element witin a div that has .field_with_errors class */
    border: 1px solid #f00;
}

.field_with_errors #user_password {
    border: 1px solid #f00;
}

.field_with_errors #user_current_password {
    border: 1px solid #f00;
}

.field_with_errors #wiki_title_input {
    border: 1px solid #f00;
}

.field_with_errors #wiki_body {
    border: 1px solid #f00;
}


.pure-form-aligned .pure-control-group p { /* I had to create this to handle the note in the edit profile form */
    text-align: right;
    display: inline-block;
    font-size: 80%;
    font-style: italic;
    vertical-align: middle;
    width: 12em;
    margin: 0 1em 0 0;
}


/* -- Form -- */
.bloccipedia-form {
    margin: 50px auto 0 auto;
}

.bloccipedia-form textarea{
    width: 450px;
    height: 400px;
}

#wiki_title_input {
    width: 450px;
}


.devise-links {
    margin-top: 20px;
    font-size: small;
}


/* -- Wiki -- */

.wiki { /* wiki index */
    text-align: center; 
    width: 100%;

}

.single-wiki {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

.wiki-table {
    margin-right: auto;
    margin-left: auto;
    width: 50%;   
}

.wiki-table-link p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: left;
}

.subscription {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.form-links {
    font-size: 90%;
}

.form-links a {color:#717171;}      /* unvisited link */
.form-links a:visited {color:#717171;}  /* visited link */
.form-links a:hover {color:#0D777D;}  /* mouse over link */
.form-links a:active {color:#000000;}  /* selected link */

.sign-up-later-area {
    font-size: 90%;   
}

.sign-up-later-area a {color:#717171;}      /* unvisited link */
.sign-up-later-area a:visited {color:#717171;}  /* visited link */
.sign-up-later-area a:hover {color:#0D777D;}  /* mouse over link */
.sign-up-later-area a:active {color:#000000;}  /* selected link */

.none-yet {
    font-size: 90%;
    font-style: italic;
    color:#717171;
}

.debug {
    border: 1px solid red;
}