/* purecss has problems with fonts for .pure-g and .pure-g-r */
/* https://github.com/yui/pure/issues/41/ */
.pure-g, .pure-g-r {
    letter-spacing: 0em;
}



/* -- Top Nav Bar styling -- */
#top-nav-bar {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.nav-bar ul {
    margin: 0 10px 0 auto;
    float: right;
    list-style-type: none;
}

.nav-bar li {
    display: inline;
}


/* -- Welcome Page styling -- */
banner {
    margin-top: 150px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #0D777D;
    text-align: center;    
}

.banner-head {
    margin-top: 0;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.pricing-tables {
    text-align: center;
}

.l-content {
    margin: 0 auto;
}


/* For flash messages, adpated from: */ 
/*http://www.dzone.com/snippets/css-flashnotice-style*/

.alert {
    width: 100%;
    background: #FFF6BF;
    border-top: 2px solid #FFD324;
    border-bottom: 2px solid #FFD324;
    text-align: center;
    margin: 10px auto;
    padding: 5px 20px;
}

#error_explanation { /* for devise errors */
    width: 100%;
    background: #FFF6BF;
    border-top: 2px solid #FFD324;
    border-bottom: 2px solid #FFD324;
    text-align: center;
    padding: 0px 20px;   
}

#error_explanation ul {
    list-style-position: inside; /* this makes the bullet point stick to text */
}

/*http://stackoverflow.com/questions/18307376/ruby-on-rails-and-bootstrap-make-field-with-errors-display-horizontal*/
.field_with_errors {
    display: inline-block;
}

.field_with_errors #user_email { /* not sure why I can't target input element witin a div that has .field_with_errors class */
    border: 1px solid #f00;
}

.field_with_errors #user_password {
    border: 1px solid #f00;
}

/* -- Form -- */
.bloccipedia-form {
    margin: 50px auto 0 auto;
}

.devise-links {
    margin-top: 20px;
    font-size: small;
}

