/* purecss has problems with fonts for .pure-g and .pure-g-r */
/* https://github.com/yui/pure/issues/41/ */
.pure-g, .pure-g-r {
    letter-spacing: 0em;
}



/* -- Top Nav Bar styling -- */
#top-nav-bar {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.nav-bar ul {
    margin: 0 10px 0 auto;
    float: right;
    list-style-type: none;
}

.nav-bar li {
    display: inline;
}


/* -- Welcome Page styling -- */
banner {
    margin-top: 150px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #0D777D;
    text-align: center;    
}

.banner-head {
    margin-top: 0;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.pricing-tables {
    text-align: center;
}

.l-content {
    margin: 0 auto;
}


/* Alerts, adpated from: */ 
/*http://www.dzone.com/snippets/css-flashnotice-style*/

.alert {
    width: 100%;
    border: 1px solid red;
    background: #FFF6BF;
    border-top: 2px solid #FFD324;
    border-bottom: 2px solid #FFD324;
    text-align: center;
    margin: 10px auto;
    padding: 5px 20px;
}

/* -- Form -- */
.bloccipedia-form {
    /*border: 1px solid red;*/
    margin: 50px auto 0 auto;
}

.devise-links {
    /*border: 1px solid red;*/
    margin-top: 20px;
    font-size: small;
}

